<p>sign-in works!</p>
<div>
<label>שם</label>
<input type="text" id="IdFirstName" name="FirstName"><br>
<label>משפחה</label>
<input type="text" id="IdLastName" name="LastName"><br>
<label>מייל</label>
<input type="email" id="IdEmail" name="Email"><br>
<label>סיסמה</label>
<input type="password" id="IdPassword" name="Password"><br>
<label>מספר ילדים</label>
<input type="number" id="IdNumChild" name="NumChild"><br>
<label>מוצרים מועדפים</label>
<input type="text" id="IdProducts" name="Products"><br>
<label>אלרגיות / מוצרים שלא יוצגו</label>
<input type="text" id="IdElergic" name="Elergic"><br>
<label>מספר מתכונים שישמרו</label>
<input type="text" id="IdNumRecipes" name="NumRecipes"><br>
<label>אני מאשר קבלת עידכונים במייל</label>
<input type="checkbox" id="IdGetNews" name="GetNews"><br>
<br>
<nav>
<button routerLink="/main">הרשמה</button>
</nav>
<router-outlet></router-outlet>
